<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>
<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.apache.directory.ldapstudio.schemas.view.perspectives.Perspective"
            icon="ressources/icons/schemas_perspective.gif"
            id="org.apache.directory.ldapstudio.schemas.perspective"
            name="%ldapstudio-schemas-plugin.perspective.schemas.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.apache.directory.ldapstudio.schemas.view.category"
            name="%ldapstudio-schemas-plugin.views.category.name"/>
      <view
            allowMultiple="false"
            category="org.apache.directory.ldapstudio.schemas.view.category"
            class="org.apache.directory.ldapstudio.schemas.view.views.SchemaElementsView"
            icon="ressources/icons/schema_elements_view.png"
            id="org.apache.directory.ldapstudio.schemas.view.SchemaElementsView"
            name="%ldapstudio-schemas-plugin.views.schemaElements.name"/>
      <view
            allowMultiple="false"
            category="org.apache.directory.ldapstudio.schemas.view.category"
            class="org.apache.directory.ldapstudio.schemas.view.views.SchemasView"
            icon="ressources/icons/schemas_view.png"
            id="org.apache.directory.ldapstudio.schemas.view.SchemasView"
            name="%ldapstudio-schemas-plugin.views.schemas.name"/>
      <view
            allowMultiple="false"
            category="org.apache.directory.ldapstudio.schemas.view.category"
            class="org.apache.directory.ldapstudio.schemas.view.views.SearchView"
            icon="ressources/icons/search.gif"
            id="org.apache.directory.ldapstudio.schemas.view.SearchView"
            name="%ldapstudio-schemas-plugin.views.search.name"/>
      <view
            allowMultiple="false"
            category="org.apache.directory.ldapstudio.schemas.view.category"
            class="org.apache.directory.ldapstudio.schemas.view.views.HierarchyView"
            icon="ressources/icons/hierarchy_view.png"
            id="org.apache.directory.ldapstudio.schemas.view.HierarchyView"
            name="Hierarchy"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.openalocalschema.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.OpenLocal"
            name="%ldapstudio-schemas-plugin.commands.openalocalschema.name">
      </command>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.saveselectedschema.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.Save"
            name="%ldapstudio-schemas-plugin.commands.saveselectedschema.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.saveselectedschemaas.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.SaveAs"
            name="%ldapstudio-schemas-plugin.commands.saveselectedschemaas.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.saveallschemas.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.SaveAll"
            name="%ldapstudio-schemas-plugin.commands.saveallschemas.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.removeselectedschema.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.RemoveSchema"
            name="%ldapstudio-schemas-plugin.commands.removeselectedschema.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.viewschemasourcecode.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.OpenSchemaSourceCode"
            name="%ldapstudio-schemas-plugin.commands.viewschemasourcecode.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.delete.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.Delete"
            name="%ldapstudio-schemas-plugin.commands.delete.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.createanewschema.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.CreateANewSchema"
            name="%ldapstudio-schemas-plugin.commands.createanewschema.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.createanewobjectclass.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.CreateANewObjectClass"
            name="%ldapstudio-schemas-plugin.commands.createanewobjectclass.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="%ldapstudio-schemas-plugin.commands.createanewattributetype.description"
            id="org.apache.directory.ldapstudio.schemas.cmd.CreateANewAttributeType"
            name="%ldapstudio-schemas-plugin.commands.createanewattributetype.name"/>
      <category
            id="org.apache.directory.ldapstudio.schemas.category"
            name="%ldapstudio-schemas-plugin.commands.category.name"/>
      <command
            categoryId="org.apache.directory.ldapstudio.schemas.category"
            description="Opens Type Hierarchy"
            id="org.apache.directory.ldapstudio.schemas.cmd.OpenTypeHierarchy"
            name="Open Type Hierarchy"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.apache.directory.ldapstudio.schemas.cmd.OpenLocal"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="org.apache.directory.ldapstudio.schemas.cmd.OpenTypeHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.apache.directory.ldapstudio.schemas.view.editors.objectClass.ObjectClassEditor"
            default="false"
            icon="ressources/icons/object_class.gif"
            id="org.apache.directory.ldapstudio.schemas.view.objectClassEditor"
            name="%ldapstudio-schemas-plugin.editors.objectclasseditor.name"/>
      <editor
            class="org.apache.directory.ldapstudio.schemas.view.editors.attributeType.AttributeTypeEditor"
            default="false"
            icon="ressources/icons/attribute_type.gif"
            id="org.apache.directory.ldapstudio.schemas.view.attributeTypeEditor"
            name="%ldapstudio-schemas-plugin.editors.attributetypeeditor.name"/>
      <editor
            class="org.apache.directory.ldapstudio.schemas.view.editors.schema.SchemaEditor"
            default="false"
            icon="ressources/icons/schema.gif"
            id="org.apache.directory.ldapstudio.schemas.view.schemaformeditor"
            name="%ldapstudio-schemas-plugin.editors.schemaeditor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.apache.directory.ldapstudio.schemas.view.wizards.category"
            name="%ldapstudio-schemas-plugin.wizards.category.name"/>
      <wizard
            category="org.apache.directory.ldapstudio.schemas.view.wizards.category"
            class="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewSchemaWizard"
            icon="ressources/icons/schema_new.gif"
            id="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewSchemaWizard"
            name="%ldapstudio-schemas-plugin.wizards.createanewschema.name"/>
      <wizard
            category="org.apache.directory.ldapstudio.schemas.view.wizards.category"
            class="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewObjectClassWizard"
            icon="ressources/icons/object_class_new.gif"
            id="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewObjecClassWizard"
            name="%ldapstudio-schemas-plugin.wizards.createanewobjectclass.name"/>
      <wizard
            category="org.apache.directory.ldapstudio.schemas.view.wizards.category"
            class="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewAttributeTypeWizard"
            icon="ressources/icons/attribute_type_new.gif"
            id="org.apache.directory.ldapstudio.schemas.view.wizards.CreateANewAttributeTypeWizard"
            name="%ldapstudio-schemas-plugin.wizards.createanewattributetype.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.directory.ldapstudio.schemas.view.preferences.SchemasEditorPreferencePage"
            id="org.apache.directory.ldapstudio.schemas.preferences.general"
            name="%ldapstudio-schemas-plugin.preferencepages.general.name"/>
      <page
            category="org.apache.directory.ldapstudio.schemas.preferences.general"
            class="org.apache.directory.ldapstudio.schemas.view.preferences.SchemaElementsViewPreferencePage"
            id="org.apache.directory.ldapstudio.schemas.preferences.schemaElementsView"
            name="Schema Elements View"/>
      <page
            category="org.apache.directory.ldapstudio.schemas.preferences.general"
            class="org.apache.directory.ldapstudio.schemas.view.preferences.SchemasViewPreferencePage"
            id="org.apache.directory.ldapstudio.schemas.preferences.schemasView"
            name="Schemas View"/>
      <page
            category="org.apache.directory.ldapstudio.schemas.preferences.general"
            class="org.apache.directory.ldapstudio.schemas.view.preferences.HierarchyViewPreferencePage"
            id="org.apache.directory.ldapstudio.schemas.preferences.hierarchyView"
            name="Hierarchy View"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.apache.directory.ldapstudio.schemas.controller.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="org.apache.directory.ldapstudio.schemas.view.SchemasEditorLabelDecorator"
            id="org.apache.directory.ldapstudio.schemas.decorator"
            label="Schemas Editor Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
            <enablement>
          		<or>
            		<objectClass name="org.apache.directory.ldapstudio.schemas.view.views.wrappers.AttributeTypeWrapper"/>
            		<objectClass name="org.apache.directory.ldapstudio.schemas.view.views.wrappers.ObjectClassWrapper"/>
            		<objectClass name="org.apache.directory.ldapstudio.schemas.model.AttributeType"/>
            		<objectClass name="org.apache.directory.ldapstudio.schemas.model.ObjectClass"/>
          		
          		
          		</or>
       		</enablement>
       		<description>
          		Decorates Schemas Editor icons
       		</description>
       	</decorator>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="org.apache.directory.ldapstudio.schemas.view.search.SearchPage"
            enabled="true"
            icon="ressources/icons/search.gif"
            id="org.apache.directory.ldapstudio.schemas.search"
            label="Schemas Search"
            showScopeSection="false"
            sizeHint="450,300"/>
   </extension>
</plugin>
