<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ldapServerAdapters" name="LDAP Server Adapters" schema="resources/ldapServerAdapters.exsd"/>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.apache.directory.studio.ldapservers.view.category"
            name="LDAP Servers" />
      <view
            category="org.apache.directory.studio.ldapservers.view.category"
            class="org.apache.directory.studio.ldapservers.views.ServerAdaptersView"
            id="org.apache.directory.studio.ldapservers.views.ServerAdaptersView"
            name="LDAP Server Adapters" />
      <view
            category="org.apache.directory.studio.ldapservers.view.category"
            class="org.apache.directory.studio.ldapservers.views.ServersView"
            id="org.apache.directory.studio.ldapservers.views.ServersView"
            name="LDAP Servers" />
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.apache.directory.studio.ldapbrowser.ui.perspective.BrowserPerspective">
         <view
               closeable="true"
               id="org.apache.directory.studio.ldapservers.views.ServersView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.apache.directory.studio.ldapbrowser.ui.views.connection.ConnectionView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.apache.directory.studio.ldapservers.properties.ServerPropertyPage"
            id="org.apache.directory.studio.ldapservers.properties.ServerPropertyPage"
            name="Info">
         <enabledWhen>
            <instanceof
                  value="org.apache.directory.studio.ldapservers.model.LdapServer">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
