<?xml version="1.0" encoding="ISO-8859-1"?>


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ControlServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ContentServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>livehelp</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.LiveHelpServlet</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>toc</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.TocServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.SearchServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>context</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ContextServlet</servlet-class>
    </servlet>
          

<!--
Automatically created by Tomcat JspC.
Place this fragement in the web.xml before all icon, display-name,
description, distributable, and context-param elements.
-->

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.index_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.index_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.err_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.err_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.header_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.header_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.help_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.help_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.index_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.index_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.indexToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.indexToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.indexView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.indexView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.linksToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.linksToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.linksView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.linksView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.livehelp_js_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.livehelp_js_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.searchToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.searchToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.searchView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.searchView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tabs_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.tabs_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tocToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.tocToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tocView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.tocView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.toolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.toolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.view_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.basic.view_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.advanced_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.advanced_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.askShowAll_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.askShowAll_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.confirm_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.confirm_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.confirmShowAll_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.confirmShowAll_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.content_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.content_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.contentToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.contentToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.err_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.err_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.fheader_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.fheader_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.header_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.header_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.help_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.help_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.index_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.index_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexList_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.indexList_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.indexToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexTypein_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.indexTypein_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.indexView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.linksToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.linksToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.linksView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.linksView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.livehelp_js_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.livehelp_js_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.nav_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.nav_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.search_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.search_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchScoped_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.searchScoped_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchSimple_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.searchSimple_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.searchToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.searchView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tabs_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.tabs_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocFragment_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.tocFragment_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocToolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.tocToolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocView_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.tocView_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.toolbar_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.toolbar_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.view_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.view_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.views_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.views_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.workingSet_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.workingSet_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.workingSetManager_jsp</servlet-name>
		<servlet-class>org.eclipse.help.internal.webapp.jsp.advanced.workingSetManager_jsp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.index_jsp</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.err_jsp</servlet-name>
		<url-pattern>/basic/err.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.header_jsp</servlet-name>
		<url-pattern>/basic/header.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.help_jsp</servlet-name>
		<url-pattern>/basic/help.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.index_jsp</servlet-name>
		<url-pattern>/basic/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.indexToolbar_jsp</servlet-name>
		<url-pattern>/basic/indexToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.indexView_jsp</servlet-name>
		<url-pattern>/basic/indexView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.linksToolbar_jsp</servlet-name>
		<url-pattern>/basic/linksToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.linksView_jsp</servlet-name>
		<url-pattern>/basic/linksView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.livehelp_js_jsp</servlet-name>
		<url-pattern>/basic/livehelp_js.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.searchToolbar_jsp</servlet-name>
		<url-pattern>/basic/searchToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.searchView_jsp</servlet-name>
		<url-pattern>/basic/searchView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tabs_jsp</servlet-name>
		<url-pattern>/basic/tabs.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tocToolbar_jsp</servlet-name>
		<url-pattern>/basic/tocToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.tocView_jsp</servlet-name>
		<url-pattern>/basic/tocView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.toolbar_jsp</servlet-name>
		<url-pattern>/basic/toolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.basic.view_jsp</servlet-name>
		<url-pattern>/basic/view.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.advanced_jsp</servlet-name>
		<url-pattern>/advanced/advanced.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.askShowAll_jsp</servlet-name>
		<url-pattern>/advanced/askShowAll.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksToolbar_jsp</servlet-name>
		<url-pattern>/advanced/bookmarksToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.bookmarksView_jsp</servlet-name>
		<url-pattern>/advanced/bookmarksView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.confirm_jsp</servlet-name>
		<url-pattern>/advanced/confirm.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.confirmShowAll_jsp</servlet-name>
		<url-pattern>/advanced/confirmShowAll.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.content_jsp</servlet-name>
		<url-pattern>/advanced/content.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.contentToolbar_jsp</servlet-name>
		<url-pattern>/advanced/contentToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.err_jsp</servlet-name>
		<url-pattern>/advanced/err.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.fheader_jsp</servlet-name>
		<url-pattern>/advanced/fheader.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.header_jsp</servlet-name>
		<url-pattern>/advanced/header.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.help_jsp</servlet-name>
		<url-pattern>/advanced/help.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.index_jsp</servlet-name>
		<url-pattern>/advanced/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexList_jsp</servlet-name>
		<url-pattern>/advanced/indexList.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexToolbar_jsp</servlet-name>
		<url-pattern>/advanced/indexToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexTypein_jsp</servlet-name>
		<url-pattern>/advanced/indexTypein.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.indexView_jsp</servlet-name>
		<url-pattern>/advanced/indexView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.linksToolbar_jsp</servlet-name>
		<url-pattern>/advanced/linksToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.linksView_jsp</servlet-name>
		<url-pattern>/advanced/linksView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.livehelp_js_jsp</servlet-name>
		<url-pattern>/advanced/livehelp_js.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.nav_jsp</servlet-name>
		<url-pattern>/advanced/nav.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.search_jsp</servlet-name>
		<url-pattern>/advanced/search.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchScoped_jsp</servlet-name>
		<url-pattern>/advanced/searchScoped.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchSimple_jsp</servlet-name>
		<url-pattern>/advanced/searchSimple.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchToolbar_jsp</servlet-name>
		<url-pattern>/advanced/searchToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.searchView_jsp</servlet-name>
		<url-pattern>/advanced/searchView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tabs_jsp</servlet-name>
		<url-pattern>/advanced/tabs.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocFragment_jsp</servlet-name>
		<url-pattern>/advanced/tocFragment.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocToolbar_jsp</servlet-name>
		<url-pattern>/advanced/tocToolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.tocView_jsp</servlet-name>
		<url-pattern>/advanced/tocView.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.toolbar_jsp</servlet-name>
		<url-pattern>/advanced/toolbar.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.view_jsp</servlet-name>
		<url-pattern>/advanced/view.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.views_jsp</servlet-name>
		<url-pattern>/advanced/views.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.workingSet_jsp</servlet-name>
		<url-pattern>/advanced/workingSet.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.eclipse.help.internal.webapp.jsp.advanced.workingSetManager_jsp</servlet-name>
		<url-pattern>/advanced/workingSetManager.jsp</url-pattern>
	</servlet-mapping>

<!--
All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.
-->


    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/topic/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/nftopic/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/ntopic/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>livehelp</servlet-name>
        <url-pattern>/livehelp/*</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>toc</servlet-name>
        <url-pattern>/toc/*</url-pattern>
    </servlet-mapping>
       
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>context</servlet-name>
        <url-pattern>/context/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- Uncomment to enable secure access to the InfoCenter. Update the role-name as appropriate.
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>helproot</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>tomcat</role-name>
		</auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description></description>
		<role-name>tomcat</role-name>
	</security-role>
-->
</web-app>

