.classpath
.project
.settings
.pmd
target/
META-INF/
eclipse-trgt-platform/org.apache.directory.studio.eclipse-trgt-platform.target
plugins/ldapbrowser.core/lib/
plugins/ldapservers.apacheds/resources/libs/
tests/test.integration.ui/screenshots
.DS_Store
workspace
