<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Apache Directory Studio Platform" sequenceNumber="44">
  <locations>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <!-- External jars -->
      <unit id="antlr" version="${org.antlr.bundleversion}"/>
      <unit id="bouncycastle.bcprov-jdk15" version="${org.bouncycastle.bcprov.jdk15.bundleversion}"/>
      <unit id="dom4j" version="${org.dom4j.bundleversion}"/>
      <unit id="log4j" version="${log4j.log4j.bundleversion}"/>
      <unit id="slf4-apij" version="${org.slf4j.bundleversion}"/>
      <unit id="slf4-log4j12" version="${org.slf4j.bundleversion}"/>
      <unit id="xpp3" version="${org.xpp3.bundleversion}"/>

      <!-- Commons jars -->
      <unit id="org.apache.commons.collections" version="${org.apache.commons.collections.bundleversion}"/>
      <unit id="org.apache.commons.io" version="${org.apache.commons.io.bundleversion}"/>
      <unit id="org.apache.commons.lang" version="${org.apache.commons.lang.bundleversion}"/>
      <unit id="org.apache.commons.pool" version="${org.apache.commons.pool.bundleversion}"/>

      <!-- LDAP API modules -->
      <unit id="org.apache.directory.api.asn1.api" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.asn1.ber" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.dsmlv2.parser" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.i18n" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.client.api" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.codec.core" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.extras.aci" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.extras.codec" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.extras.codec.api" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.model" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.net.mina" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.schema" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.ldap.schema.converter" version="${org.apache.directory.api.bundleversion}"/>
      <unit id="org.apache.directory.api.util" version="${org.apache.directory.api.bundleversion}"/>

      <!-- LDAP server modules -->
      <unit id="org.apache.directory.server.core.api" version="${org.apache.directory.server.bundleversion}"/>
      <unit id="org.apache.directory.server.config" version="${org.apache.directory.server.bundleversion}" />
      <unit id="org.apache.directory.server.kerberos.codec" version="${org.apache.directory.server.bundleversion}" />
      <unit id="org.apache.directory.server.ldif.partition" version="${org.apache.directory.server.bundleversion}" />
      <unit id="org.apache.directory.server.xdbm.partition" version="${org.apache.directory.server.bundleversion}" />

      <!-- MINA module -->
      <unit id="org.apache.mina.core" version="${org.apache.mina.bundleversion}"/>

      <repository location="file://${basedir}/target/repository"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140606-1445"/>
      <unit id="org.eclipse.platform.source.feature.group" version="4.4.0.v20140606-1558"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.4.0.v20140606-1445"/>
      <unit id="org.eclipse.equinox.executable" version="3.6.100.v20140603-1326"/>
      <unit id="org.eclipse.platform.feature.group" version="4.4.0.v20140606-1558"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
    </location>

  </locations>

  <launcherArgs>
    <vmArgs>-Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
  </launcherArgs>
</target>
