<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		 <key>CFBundleExecutable</key>
		 <string>LDAPStudio</string>
		 <key>CFBundleIconFile</key>
		 <string>ldapstudio.icns</string>
		 <key>CFBundleInfoDictionaryVersion</key>
		 <string>6.0</string>
		 <key>CFBundleName</key>
		 <string>LDAPStudio</string>
		 <key>CFBundlePackageType</key>
		 <string>APPL</string>
		 <key>CFBundleSignature</key>
		 <string>????</string>
		 <key>Eclipse</key>
		 <array>
		 		 <string>-startup</string>
		 		 <string>../../../startup.jar</string>
		 		 <string>-vmargs</string>
		 		 <string>-XstartOnFirstThread</string>
		 		 <string>-Xms30M</string>
		 		 <string>-Xmx150M</string>
		 		 <string>-Dorg.eclipse.swt.internal.carbon.smallFonts</string>
		 		 <string>-Dorg.eclipse.swt.internal.carbon.noFocusRing</string>
		 </array>
		 <key>LSUIElement</key>
		 <string>1</string>
</dict>
</plist>
