<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>
   <extension-point id="org.apache.directory.studio.valueeditors" name="Value Editors" schema="src/main/resources/valueEditors.exsd"/>

 <extension
       point="org.apache.directory.studio.valueeditors">
    <valueEditor
          class="org.apache.directory.studio.valueeditors.InPlaceTextValueEditor"
          icon="resources/icons/inplace_texteditor.gif"
          name="In-Place Text Editor"/>
    <valueEditor
          class="org.apache.directory.studio.valueeditors.TextValueEditor"
          icon="resources/icons/texteditor.gif"
          name="Text Editor"/>
    <valueEditor
          class="org.apache.directory.studio.valueeditors.HexValueEditor"
          icon="resources/icons/hexeditor.gif"
          name="Hex Editor"/>
  </extension>
  
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LDAP Browser"
            id="org.apache.directory.studio.ldapbrowser.newWizards"/>
   </extension>  

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.apache.directory.studio.ldapbrowser.common.BrowserCommonPreferencesInitializer"/>
   </extension> 

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.MainPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            name="LDAP">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.AttributesPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.AttributesPreferencePage"
            name="Attributes">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.ColorsAndFontsPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.ColorsAndFontsPreferencePage"
            name="Colors and Fonts">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.colors"/>
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.fonts"/>
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.AttributesPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.BinaryAttributesAndSyntaxesPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.BinaryAttributesAndSyntaxesPreferencePage"
            name="Binary Attributes">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.AttributesPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.ValueEditorsPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.ValueEditorsPreferencePage"
            name="Value Editors">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.BrowserPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.BrowserPreferencePage"
            name="Browser">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>            
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.EntryEditorPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.EntryEditorPreferencePage"
            name="Entry Editor">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
      </page>
      <page
            category="org.apache.directory.studio.ldapbrowser.preferences.MainPreferencePage"
            class="org.apache.directory.studio.ldapbrowser.common.dialogs.preferences.TextFormatsPreferencePage"
            id="org.apache.directory.studio.ldapbrowser.preferences.TextFormatsPreferencePage"
            name="Text Formats">
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldap"/>
         <keywordReference id="org.apache.directory.studio.ldapbrowser.keyword.ldif"/>
      </page>            
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="LDAP Filter"
            id="org.apache.directory.studio.ldapbrowser.common.templates.filter"/>
      <include file="resources/templates/templates.xml"/>
   </extension>

 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="org.apache.directory.studio.ldapbrowser.keyword.colors"
          label="Colors"/>
    <keyword
          id="org.apache.directory.studio.ldapbrowser.keyword.fonts"
          label="Fonts"/>
    <keyword
          id="org.apache.directory.studio.ldapbrowser.keyword.ldap"
          label="LDAP"/>
    <keyword
          id="org.apache.directory.studio.ldapbrowser.keyword.ldif"
          label="LDIF"/>
 </extension>

 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.addValue"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1++"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.addAttribute"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2++"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.editAttributeDescription"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F6"/>  
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.editValue"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F7"/>  
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.editRecord"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F8"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.locateInDit"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F3"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.openSearchResult"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F4"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.delete"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="DEL"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.copy"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+C"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.paste"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+V"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.find"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+F"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.properties"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="ALT+RETURN"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.addValue"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1++"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.addAttribute"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2++"/>
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.editAttributeDescription"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F6"/>  
    <key
          commandId="org.apache.directory.studio.ldapbrowser.action.editValue"
          contextId="org.apache.directory.studio.ldapbrowser.contexts.dialog"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F7"/>            
 </extension>

 <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.apache.directory.studio.ldapbrowser.commands"
          name="LDAP Browser"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Add a value to an existing attribute"
          id="org.apache.directory.studio.ldapbrowser.action.addValue"
          name="Add Value"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Add an attribute to an existing entry"
          id="org.apache.directory.studio.ldapbrowser.action.addAttribute"
          name="Add Attribute"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Edit an attribute description"
          id="org.apache.directory.studio.ldapbrowser.action.editAttributeDescription"
          name="Edit Attribute Description"/>          
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Edit a value"
          id="org.apache.directory.studio.ldapbrowser.action.editValue"
          name="Edit Value"/>          
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Edit a record"
          id="org.apache.directory.studio.ldapbrowser.action.editRecord"
          name="Edit Record"/>          
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Delete an element"
          id="org.apache.directory.studio.ldapbrowser.action.delete"
          name="Delete"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Copy an element"
          id="org.apache.directory.studio.ldapbrowser.action.copy"
          name="Copy"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Paste an element"
          id="org.apache.directory.studio.ldapbrowser.action.paste"
          name="Paste"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Find an element"
          id="org.apache.directory.studio.ldapbrowser.action.find"
          name="Find"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Properties of an element"
          id="org.apache.directory.studio.ldapbrowser.action.properties"
          name="Properties"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Locate a DN or search result in DIT"
          id="org.apache.directory.studio.ldapbrowser.action.locateInDit"
          name="Locate in DIT"/>
    <command
          categoryId="org.apache.directory.studio.ldapbrowser.commands"
          description="Open a search result"
          id="org.apache.directory.studio.ldapbrowser.action.openSearchResult"
          name="Open Search Result"/>
 </extension>


 <extension
       point="org.eclipse.ui.contexts">
       <context
             description="In LDAP Browser Windows"
             id="org.apache.directory.studio.ldapbrowser.contexts.window"
             name="In LDAP Browser Windows"
             parentId="org.eclipse.ui.contexts.window">
	</context>
       <context
             description="In LDAP Browser Dialogs"
             id="org.apache.directory.studio.ldapbrowser.contexts.dialog"
             name="In LDAP Browser Dialogs"
             parentId="org.eclipse.ui.contexts.dialog"/>
 </extension>
 <extension
       point="org.apache.directory.studio.connectionparameterpages">
    <connectionParameterPage
          class="org.apache.directory.studio.ldapbrowser.common.widgets.connection.BrowserParameterPage"
          dependsOnId="org.apache.directory.studio.connection.ui.widgets.AuthenticationParameterPage"
          description="You can specify additional connection parameters."
          id="org.apache.directory.studio.ldapbrowser.common.widgets.connection.BrowserParameterPage"
          name="Browser Options"/>
 </extension>
 
</plugin>
