<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.apache.directory.studio.ldapservers.ldapServerAdapters">
      <ldapServerAdapter
            class="org.apache.directory.studio.ldapservers.apacheds.v153.ApacheDS153LdapServerAdapter"
            id="%LdapServerAdapter_id"
            name="%LdapServerAdapter_name"
            vendor="%LdapServerAdapter_vendor"
            version="%LdapServerAdapter_version">
      </ldapServerAdapter>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.apache.directory.studio.ldapservers.model.LdapServer"
            id="org.apache.directory.studio.ldapservers.model.LdapServer">
         <action
               class="org.apache.directory.studio.ldapservers.apacheds.v153.CreateConnectionAction"
               enablesFor="1"
               id="%ActionCreateConnection_id"
               label="%ActionCreateConnection_label"
               icon="resources/icons/connection_new.gif">
         </action>
         <visibility>
               <objectState
                     name="extensionId"
                     value="%LdapServerAdapter_id">
               </objectState>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
