<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.apache.directory.studio.ldapservers.ldapServerAdapters">
      <ldapServerAdapter
            class="org.apache.directory.studio.ldapservers.apacheds.v153.ApacheDS153LdapServerAdapter"
            id="org.apache.directory.server.1.5.3"
            name="Apache DS"
            vendor="Apache Software Foundation"
            version="1.5.3">
      </ldapServerAdapter>
   </extension>
</plugin>
