<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.directory.studio.apacheds.prefs.MainPage"
            id="%Pref_MainPage_id"
            name="%Pref_MainPage_name">
      </page>
      <page
            class="org.apache.directory.studio.apacheds.prefs.ColorsAndFontsPage"
            id="%Pref_ColorsAndFontsPage_id"
            name="%Pref_ColorsAndFontsPage_name"
            category="%Pref_MainPage_id">
      </page>
      <page
            class="org.apache.directory.studio.apacheds.prefs.ServerLogsPage"
            id="%Pref_ServerLogsPage_id"
            name="%Pref_ServerLogsPage_name"
            category="%Pref_MainPage_id">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.directory.studio.apacheds.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="%View_Category_id"
            name="%View_Category_name">
      </category>
      <view
            category="%View_Category_id"
            class="org.apache.directory.studio.apacheds.views.ServersView"
            icon="resources/icons/serverView.png"
            id="%View_ServersView_id"
            name="%View_ServersView_name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.apache.directory.studio.apacheds.properties.ServerPropertyPage"
            id="%Prop_ServerPropertyPage_id"
            name="%Prop_ServerPropertyPage_name">
         <enabledWhen>
            <instanceof
                  value="org.apache.directory.studio.apacheds.model.Server">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="%Cmd_Category_id"
            name="%Cmd_Category_name">
      </category>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_NewServer_description"
            id="%Cmd_NewServer_id"
            name="%Cmd_NewServer_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_OpenConfiguration_description"
            id="%Cmd_OpenConfiguration_id"
            name="%Cmd_OpenConfiguration_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_Delete_description"
            id="%Cmd_Delete_id"
            name="%Cmd_Delete_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_Rename_description"
            id="%Cmd_Rename_id"
            name="%Cmd_Rename_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_CreateConnection_description"
            id="%Cmd_CreateConnection_id"
            name="%Cmd_CreateConnection_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_Run_description"
            id="%Cmd_Run_id"
            name="%Cmd_Run_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_Stop_description"
            id="%Cmd_Stop_id"
            name="%Cmd_Stop_name">
      </command>
      <command
            categoryId="%Cmd_Category_id"
            description="%Cmd_Properties_description"
            id="%Cmd_Properties_id"
            name="%Cmd_Properties_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%Ctx_ServersView_description"
            id="%Ctx_ServersView_id"
            name="%Ctx_ServersView_name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="%Cmd_NewServer_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+E"/>
      <key
            commandId="%Cmd_OpenConfiguration_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key
            commandId="%Cmd_Delete_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL"/>
      <key
            commandId="%Cmd_Rename_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2"/>
      <key
            commandId="%Cmd_Run_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R"/>
      <key
            commandId="%Cmd_Stop_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T"/>
      <key
            commandId="%Cmd_Properties_id"
            contextId="%Ctx_ServersView_id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+RETURN"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="%NewWizards_Category_id"
            class="org.apache.directory.studio.apacheds.wizards.NewServerWizard"
            descriptionImage="resources/icons/server_new.gif"
            icon="resources/icons/server_new.gif"
            id="%NewWizard_NewServerWizard_id"
            name="%NewWizard_NewServerWizard_name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="%Perspective_LdapPerspective_id">
         <view
               closeable="true"
               id="%View_ServersView_id"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="%View_ConnectionView_id"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
