<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.apache.directory.studio.jndilogger" name="JNDI Logger" schema="src/main/resources/jndiLogger.exsd"/>
   <extension
         point="org.apache.directory.studio.jndilogger">
      <jndiLogger
            class="org.apache.directory.studio.connection.core.io.jndi.LdifModificationLogger"
            description="Logs modifications in LDIF format to a file."
            id="org.apache.directory.studio.connection.core.io.jndi.LdifModificationLogger"
            name="LDIF Modification Logger">
      </jndiLogger>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.directory.studio.connection.core.ConnectionCorePreferencesInitializer">
      </initializer>
   </extension>

</plugin>
