<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
    <editor
          class="org.apache.directory.studio.ldifeditor.editor.LdifEditor"
          contributorClass="org.apache.directory.studio.ldifeditor.editor.LdifEditorContributor"
          default="true"
          extensions="ldif, ldiflog"
          icon="resources/icons/ldifeditor.gif"
          id="%Editor_LdifEditor_id"
          name="%Editor_LdifEditor_name"/>         
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="%NewWizards_Category_id"
            class="org.apache.directory.studio.ldifeditor.wizards.NewLdifFileWizard"
            hasPages="false"
            icon="resources/icons/ldifeditor_new.gif"
            id="%NewWizard_NewLdifFileWizard_id"
            name="%NewWizard_NewLdifFileWizard_name"
            project="false"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.apache.directory.studio.ldifeditor.LdifEditorPreferencesInitializer"/>
   </extension>   
      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.directory.studio.ldifeditor.dialogs.preferences.LdifEditorPreferencePage"
            id="%PrefPage_LdifEditorPreferencePage_id"
            name="%PrefPage_LdifEditorPreferencePage_name">
         <keywordReference id="%Keyword_LDAP_id"/>
         <keywordReference id="%Keyword_LDIF_id"/>
      </page>
      <page
            category="%PrefPage_LdifEditorPreferencePage_id"
            class="org.apache.directory.studio.ldifeditor.dialogs.preferences.LdifEditorContentAssistPreferencePage"
            id="%PrefPage_LdifEditorContentAssistPreferencePage_id"
            name="%PrefPage_LdifEditorContentAssistPreferencePage_name">
         <keywordReference id="%Keyword_LDAP_id"/>
         <keywordReference id="%Keyword_LDIF_id"/>
      </page>
      <page
            category="%PrefPage_LdifEditorPreferencePage_id"
            class="org.apache.directory.studio.ldifeditor.dialogs.preferences.LdifEditorSyntaxColoringPreferencePage"
            id="%PrefPage_LdifEditorSyntaxColoringPreferencePage_id"
            name="%PrefPage_LdifEditorSyntaxColoringPreferencePage_name">
         <keywordReference id="%Keyword_LDAP_id"/>
         <keywordReference id="%Keyword_LDIF_id"/>
         <keywordReference id="%Keyword_Colors_id"/>
      </page>
      <page
            category="%PrefPage_LdifEditorPreferencePage_id"
            class="org.apache.directory.studio.ldifeditor.dialogs.preferences.LdifEditorTemplatesPreferencePage"
            id="%PrefPage_LdifEditorTemplatesPreferencePage_id"
            name="%PrefPage_LdifEditorTemplatesPreferencePage_name">
         <keywordReference id="%Keyword_LDAP_id"/>
         <keywordReference id="%Keyword_LDIF_id"/>
      </page>
   </extension>      

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="%CtxType_LdifFile_id"
            name="%CtxType_LdifFile_name"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="%CtxType_LdifAttributeValueRecord_id"
            name="%CtxType_LdifAttributeValueRecord_name"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="%CtxType_LdifModificationRecord_id"
            name="%CtxType_LdifModificationRecord_name"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="%CtxType_LdifModificationItem_id"
            name="%CtxType_LdifModificationItem_name"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="%CtxType_LdifModdnRecord_id"
            name="%CtxType_LdifModdnRecord_name"/>
      <include file="resources/templates/templates.xml"/>
   </extension>

</plugin>
