<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="coretestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.CoreTestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="uitestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.UITestApplication">
            <parameter
                  name="productInfo"
                  value="product.ini">
            </parameter>
         </run>
      </application>
   </extension>

</plugin>
