<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.apache.directory.studio.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.apache.directory.studio.application"
            name="Apache Directory Studio">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="resources/pictures/product_lg.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="windowImages"
               value="resources/icons/window/studio_16x16.gif,resources/icons/window/studio_32x32.gif,resources/icons/window/studio_48x48.gif,resources/icons/window/studio_64x64.gif,resources/icons/window/studio_128x128.gif"/>
         <property
               name="appName"
               value="Apache Directory Studio">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,450,20">
         </property>
         <property
               name="startupProgressRect"
               value="7,275,450,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
	  <view
            name="Progress"
            icon="resources/icons/progress.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
         </view>
   </extension>
   
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="resources/icons/intro.gif"
            id="studio.intro">
      </intro>
      <introProductBinding
            introId="studio.intro"
            productId="org.apache.directory.studio.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="studio.intro"
            content="resources/intro.xml"
            id="ApacheDirectoryStudio.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
