[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Apache Directory Studio
GenericName=Apache Directory Studio
Comment=LDAP Browser and Directory Client
Type=Application
Exec=apachedirectorystudio
Categories=Accessories;
